body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.roundedImage {
    background-size: cover;
    background-position: top center;
    border-radius: 50%;

    max-width:100%;
    max-height:100%;
    /* Give margins */
    margin: auto;
}
